
*{
  font-family: "微软雅黑";
}

[isreadonly]{
  background-color: #f5f5f5 !important;
}
.ant-select-selection__rendered{
  color:#555;
}
.ant-input-disabled{
  color:#555 !important;
  background-color: #f5f5f5 !important;
}
.ant-input-disabled:hover{
  cursor: pointer !important;
}
textarea[readonly]{
  background-color: #f5f5f5 !important;
}
.ant-select-selection__rendered:hover{
  cursor: pointer;
}
.ant-form-item-control:hover{
  cursor: pointer;
}

.ant-select.ant-select-disabled{
  cursor: pointer;
}

.ant-select-selection.ant-select-selection--single{
  cursor: pointer !important;
}


.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
}

.ant-modal-mask {
    background-color: rgba(55,55,55,.2) !important;
}
.vertical-center-modal .ant-modal .ant-modal-body {
    max-height: 80vh;
    overflow-y: auto;
}
.ant-modal-body{
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;

}

/* use css to set position of modal */
.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}


.ant-input{
  border: 1px solid #e5e5e5;
}

.ant-checkbox-group.clearfix{
  transform: translateY(5px);
}
.ant-checkbox-group.clearfix label{

  float: left;
}

.loadCentered{
  position:absolute !important;
  top:50% !important;
  left:50% !important;
  transform: translate(-50%,-50%) !important;
}


/* [readonly]{
  background-color: #ddd !important;
} */

table{
  color:#888;
}

#root{
  height: 100%;
}

#wrap{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#menuWrap{
  overflow: auto;
  position: absolute;
  top: 0;
  /* right: 0;#001529 */
  width: 230px;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition:width 0.2s;
  background-color: #001529;
}
#menuWrap::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
#contentWrap{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 230px;
  transition: left 0.2s;
  z-index: 2;
  background: #f0f2f5;
  min-width: 320px;
}
#headerWrap{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
}
#headerWrap .headerMenu{
  float: left;
}
#headerWrap .headerMenu a{
  color: rgba(0, 0, 0, 0.65);
  padding: 0 15px;
  height: 64px;
  display: inline-block;
}
#headerWrap .headerFn{
  float: right;
}
#headerWrap .headerFn .headerTab{
  float: left;
  padding: 0 15px;
  transition: 0.2s;
}
#headerWrap .headerFn .headerTab:hover{
  background-color: rgba(0, 0, 0, 0.02);
}
#headerWrap .headerFn .headerFnTab p{
  font-size: 16px;
  color:#001529;
  margin-right: 15px;
  display: inline-block;
}
#headerWrap .headerFn .headerTheme{
  float: left;
}
#footer{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 34px;
  text-align: center;
  background-color: #fff;
  line-height: 34px;
  /* display: none; */
}
#tabs{
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.2s;
}

#expandMenu{
  position: absolute;
  top: 50px;
  left: 0px;
  background-color: rgba(0,0,0,0.6);
  z-index: 5;
  height: 40px;
  width: 40px;
  border-radius: 0px 4px 4px 0;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  display: none;
  cursor:pointer;
}

.pageWrap{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; /*34px*/
  -webkit-overflow-scrolling:touch;
  /* background-color: #f5f5f5; */
  overflow-y: auto;
  /* border: 1px solid #e8e8e8; */
  padding: 24px;
}
.pageBj{
  /* background-color: #fff; */
  min-height: 100%;
}

.ant-calendar-picker-input.ant-input{
  background-color: #fff;
}



#logo {
  height: 52px;
  background: url("../img/logo3.png") no-repeat center;
  background-size: 200px;
  margin:16px;
}
#projectName{
  text-align: center;
  font-size: 18px;
  color: #aaa;
  line-height: 64px;
}
.pb-m {
    padding-bottom: 1rem !important;
}
.card-tool {
  position: absolute;
  right: 24px;
  top: 24px;
}
.gutter-box{
  padding: 5px 0;
}



#contentWrap.layoutSmall640{
  left:80px;
}
#contentWrap.layoutBig640{
  left:230px;
}
#contentWrap.layoutLeft{
  left:0;
}
#tabs.layoutTop{
  top:0;
}

@media screen and (max-width: 640px) {

    #tabs{
      /* top:0; */
      z-index: 2;
      background: #f0f2f5;
    }
    #expandMenu{
      display: block;
    }
}



@media screen and (max-width: 1199px) {
  .lgform{
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
}


.content{
  background-color:#fff;
  padding: 24px;
}

/* .textOverflow{
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */
