
#login{
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
  background:#f0f2f5 url("./loginBj.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.loginBox{
  background-color: rgba(255,255,255,1);
  width:500px;
  margin: 0 auto;
  height: 100%;
}

.loginTitle{
  padding-top: 50px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.loginTitle img{
  height: 50px;
  display:block;
  text-align: center;
  margin: 30px auto;
}
.loginTitle p{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 12px;
  margin-bottom: 40px;
}
.loginbox{
  width: 370px;
  margin: 0 auto;
}
